 :root {
     --background: #000;
     --foreground: #fff;
     --muted: #222;
     --black-onyx: #353839;
     /* Onyx */
     --black-charcoal: #36454f;
     /* Charcoal */
     --black-slate: #2f4f4f;
     /* Slate */
     --black-graphite: #383838;
     /* Graphite */
     --black-coal: #2e2e2e;
     /* Coal */
     --black-pitch: #0c0c0c;
     /* Pitch Black */
     --black-raven: #191970;
     /* Raven (slight blue tint) */
     --black-ink: #1b1b1b;
     /* Ink Black */
     --black-obsidian: #0b1215;
     /* Obsidian */
     --black-ash: #3b3c36;
     /* Ash Black */
     --black-midnight: #2c3e50;
     /* Midnight Black */
     --black-sable: #060606;
     /* Sable */

     --border: #333;
     --accent: #e9e9e9;
     --grey: #424242;

     --secondary: #003255;


    --bg-dark: oklch(0.1 0.095 219);
    --bg: oklch(36.417% 0.13865 258.629);
    --bg-light: oklch(0.2 0.095 219);
    --text: oklch(0.96 0.1 219);
    --text-muted: oklch(0.76 0.1 219);
    --highlight: oklch(0.5 0.19 219);
    --border: oklch(0.4 0.19 219);
    --border-muted: oklch(0.3 0.19 219);
    --primary: oklch(0.76 0.19 219);
    --secondary: oklch(32.802% 0.06812 233.405);
    --danger: oklch(0.7 0.19 30);
    --warning: oklch(0.7 0.19 100);
    --success: oklch(0.7 0.19 160);
    --info: oklch(0.7 0.19 260);

    --spacing: 4px;
    --logo-size: 1.8rem;
    --rounded: 4px;
 }