
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     /* outline: 1px solid red; */
 }

 body {
     background: var(--background);
     color: var(--foreground);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     width: 100%;
 }

 .bento-card {
     background: var(--muted);
     border-radius: 12px;
     transition: all .2s ease-in-out;
     border: 1px solid var(--border);
 }

 .bg-image {
     position: absolute;
     display: flex;
     align-items: center;
     width: 100%;
     height: 90dvh
 }

 .bg-image img {
     position: absolute;
     right: 0;
     -webkit-mask-image: linear-gradient(to bottom,
             transparent 0%,
             /* fully hidden at very top */
             black 50%,
             /* fully visible after 15% */
             black 100%,
             /* stays visible until 85% */
             transparent 100%
             /* fades out at bottom */
         ),
         /* Left fade */
         linear-gradient(to right,
             transparent 0%,
             /* fully hidden at very left */
             black 50%,
             /* visible after 10% from left */
             black 100%
             /* solid to the right */
         ),

         linear-gradient(to top,
             transparent 0%,
             /* fully hidden at very left */
             black 50%,
             /* visible after 10% from left */
             black 100%
             /* solid to the right */
         );
     -webkit-mask-composite: intersect;
     -webkit-mask-repeat: no-repeat;
     -webkit-mask-size: 100% 100%;
     filter: brightness(50%) contrast(130%) 
 }

 .container {
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(219, 219, 219, 0.966);

 }

 .inputs {
     position: relative;
 }

.inputs::before {
    content: attr(data-label);
    position: absolute;
    color: rgba(240, 248, 255, 0.233);
    top: 1.5rem;
    left: 1rem;
    transition: all 100ms ease-in-out;
    pointer-events: none;

}

.inputs:focus-within::before,
.inputs.filled::before {
    top: 0rem;
    background-color: var(--background);
    padding: 0 0.5rem;
    color: white;
}

.inputs.filled::before {
    padding: 0 0.8rem;
}